<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.momogae">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="false"
        android:icon="@mipmap/momologo"
        android:label="Momogae"
        android:roundIcon="@mipmap/momologo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:allowBackup"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true">



        <activity
            android:name=".Login.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity.Main">
        </activity>




        <activity
            android:name=".Board.BoardActivity"
            android:theme="@style/AppTheme.NoActionBar"> //중요
        </activity>
        <activity android:name=".Board.PostDetailActivity"></activity>
        <activity android:name=".Board.NewPostActivity"></activity>
        <activity android:name=".MainActivity.BaseActivity"></activity>





        <activity
            android:name=".Chat.chatting.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar"> //상습범
        </activity>
        <activity android:name=".Chat.chatting.SelectUserActivity"></activity>
        <activity android:name=".Chat.photoView.ViewPagerActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Chat.FriendActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Chat.SplashActivity"></activity>




        <activity
            android:name=".Map.MapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD7LvI_dIymRRElkz2kKoy3xYNE0_E0tpE" />






        <activity android:name=".MyPets.MyPetActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".MyPets.PetWriteActivity" />
        <activity android:name=".MyPets.PetLargeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".MyPets.PetEditActivity"/>

        <activity
            android:name=".Diary.DiaryActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Diary.DiaryWriteActivity"></activity>
        <activity android:name=".Diary.DiaryLargeActivity"></activity>

        <activity android:name=".Todo.TodoActivity"/>
        <activity android:name=".Todo.AddTaskActivity"></activity>






        <activity
            android:name=".MyInfo.MyInfoActivity">
        </activity>






        <service
            android:name=".Chat.common.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Abandoned.AbandonedActivity"></activity>




        //아래 한 줄 추가(카카오맵)
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="fd8b1667c7bcd5ac747c9da1f31d41eb"/>

    </application>

</manifest>